@import url(./task.css);
@import url(./task-cell.css);
@import url(./calendar-day.css);
@import url(./hour-cell.css);
@import url(./timezone.css);
@import url(./currentTime.css);

.calendar{
    color: var(--gray20);
    padding-inline: 1.5rem;
    --minBlockSize: 4rem;
    --maxBlockSize: auto;
    --minInlineSize: 5rem;
    --maxInlineSize: 1fr;
    position: relative;
}
.calendar-week{
    display: grid;
    grid-template-columns: auto repeat(7 ,minmax(var(--minInlineSize),var(--maxInlineSize)));
    grid-template-rows: 7rem repeat(24,minmax(var(--minBlockSize),var(--maxBlockSize)));
    min-block-size: 700px;
}
.calendar-day{
    display: grid;
    grid-template-columns: auto repeat(1 ,1fr);
    grid-template-rows: 7rem repeat(24,minmax(var(--minBlockSize),var(--maxBlockSize)));
    min-block-size: 700px;
}