.select{
    padding-inline: .75rem;
    padding-block:.5rem ;
    padding-inline-end: 2rem;
    border-radius: .25rem;
    border: 1px solid var(--gray20);
    font: var(--button-button);
    appearance: none;
    background-image: url("../icons/Icon=chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right .5rem center;
}